@media only screen and (min-width:340px) {

    .contentInInterduce {
        padding-top: 30px;
        padding-right: 10px;
        padding-left: 20px;
        margin: auto;
        width: 100%;
        line-height: 30px;
        word-spacing: 4px;
        font-weight: 400;
    }
.boxHidder{
    display: none;
}


}

@media only screen and (min-width:1000px) {

    .contentInInterduce {
        padding-top: 30px;
        margin: auto;
        width: 800px;
        line-height: 30px;
        word-spacing: 4px;
        font-weight: 400;
    }
    .boxHidder{
        display: block;
    }
    .h3InFirstSection {
        font-size: 23px;
    }

    .boxInSecSection {
        margin-top: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 22px;

    }

    .hInBoxes {
        text-align: center;
        border-bottom: 1px solid rgb(158, 158, 158);
        margin-bottom: 100px;
        padding: 20px;
    }
}