@media only screen and (min-width : 340px) {
    .iconSection {
        display: flex;
        
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(216, 216, 216);
       
    }

    .facebookimg {
        width: 45px;
    }

    .linkdinimg {
        width: 45px;
    }

    .instagramimg {
        width: 45px;

    }

    .telegramimg {
        width: 65px;
    }

    .aparatimg {
        width: 65px;
    }
}

@media only screen and (min-width : 1000px) {
    .iconSection {
        display: flex;

        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(216, 216, 216);
    }

    .facebookimg {
        width: 65px;
    }

    .linkdinimg {
        width: 60px;
    }

    .instagramimg {
        width: 60px;

    }

    .telegramimg {
        width: 88px
    }

    .aparatimg {
        width: 90px;
    }
}

@media only screen and (min-width : 1919px) {
    .iconSection {
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(216, 216, 216);
    }

    .facebookimg {
        width: 65px;
    }

    .linkdinimg {
        width: 60px;
    }

    .instagramimg {
        width: 60px;

    }

    .telegramimg {
        width: 88px
    }

    .aparatimg {
        width: 90px;
    }
}