@media only screen and (min-width : 1000px) {
    .videoSection {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin: 60px;
    }

    .h4InBoxes {
        font-size: 20px;
        font-weight: 400;
    }

    .pInBoxes {
        margin-bottom: 25px;
    }

    .hidderVideo {
        display: none;
    }
}

@media only screen and (min-width : 1919px) {
    .videoSection {
        display: flex;
        gap: 15px;
        align-items: center;
        justify-content: center;
        margin: 60px;
    }

    .h4InBoxes {
        font-size: 20px;
        font-weight: 400;
    }

    .pInBoxes {
        margin-bottom: 25px;
    }

    .hidderVideo {
        display: block;
    }
}