.mainFooter {
    background-color: #282828;
    border-top: 30px solid red;
}

.sectionsInFooter {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.sectionsInFooter a {
    font-size: 14px;
    text-decoration: none;
    color: #bbbbbb;
}

.h5InFooter {
    border-top: 1px solid #828991;
    border-bottom: 1px solid #828991;
    color: #ffffff;
}

.copyright {
    text-align: center;
    justify-content: center;
    margin-top: 30px;
    color: #bbbbbb;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

.copyright h6 {
    font-size: 13px;
}

.copyright p {
    color: #828991;
}