@media only screen and (min-width : 1000px) {


    .h4InMagSection {
        display: inline-block;
        margin-right: 316px;
        font-size: 20px;
        font-weight: 500;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .boxesInMagSection {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: rgb(168, 222, 152);
        padding-bottom: 50px;

    }


    .--boxes {
        width: 350px;
        align-items: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 100px;
        height: 600px;

    }


    .--boxes img {
        width: 100%;
    }


    .contentInBoxes {
        padding: 15px;
    }

    .h4InBoxes {
        font-size: 20px;
        font-weight: 400;
    }

    .aInBtn3 {
        border-radius: 7px;
        border: 1px solid rgb(135, 135, 135);
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        padding: 13px;
        padding-top: 8px;
        color: black;
        opacity: 0.6;
        text-decoration: none;
        font-size: 17px;
    }
    .hidderMag{
        display: none;
    }
}
@media only screen and (min-width : 1919px) {


    .h4InMagSection {
        display: inline-block;
        margin-right: 316px;
        font-size: 20px;
        font-weight: 500;
        background-color: white;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .boxesInMagSection {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color: rgb(168, 222, 152);
        padding-bottom: 50px;

    }


    .--boxes {
        width: 350px;
        align-items: center;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin-top: 100px;
        height: 600px;

    }


    .--boxes img {
        width: 100%;
    }


    .contentInBoxes {
        padding: 15px;
    }

    .h4InBoxes {
        font-size: 20px;
        font-weight: 400;
    }

    .aInBtn3 {
        border-radius: 7px;
        border: 1px solid rgb(135, 135, 135);
        background-color: rgb(255, 255, 255);
        margin-top: 20px;
        padding: 13px;
        padding-top: 8px;
        color: black;
        opacity: 0.6;
        text-decoration: none;
        font-size: 17px;
    }
    .hidderMag{
        display: block;
    }
}
